<main>
    <div class="d-flex align-items-center">
        <div class="flex-grow-1">
          <h1 class="page-title">Business Card</h1>
          <p class="page-description">
            <p>You can manage business cards on this screen. </p>
        </div>
        <button mat-flat-button color="primary" (click)="openAddCardModal()" style="background:  rgb(195, 28, 75)">Save User</button>
    </div>
    <hr>
    <div class="cards">
        <div class="row">
            <div class="col-12 col-md-4"  *ngFor="let card of cards">
                <app-card-item [card]="card"></app-card-item>
            </div>
        </div>
    </div>
</main>