<div class="navbar">
       <!-- //*----Logo---*// -->
    <div class="navbar-brand">
        <a class="navbar-item">
            <img mat-card-image src="assets/img/file.png" alt="ArgusTech" style="width:10%">
        </a> 
        <mat-toolbar style="background:  rgb(195, 28, 75);" >
            <span class="example-spacer"></span>
            <ul class="header-menu">
                <li>
                    <a routerLink="/cards" routerLinkActive="active">Business Cards</a>
                </li>
            </ul>
        </mat-toolbar>
    </div> 
</div>